
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
Rabatseta.co works in progress<hr/>
    Watch the space for new features.
<div>

</div>
</body>
</html>
