@using System.Collections
@using Microsoft.Web.WebPages.OAuth;

@{
    
    @model ICollection<AuthenticationClientData>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
